.CoveoResultLink {
  font-family: 'Ranchers'; }

.CoveoResult .coveo-folding-results .coveo-result-frame:nth-child(even) {
  background-color: #EFF3F7; }

.CoveoResult .coveo-folding-results .coveo-result-frame:nth-child(odd) {
  background-color: #F7F8F9; }
